@import "tailwindcss";

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../assets/fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: none !important;
}
