@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../assets/fonts/UbuntuMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

.hidden {
  display: none !important;
}
