version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:22.17-browsers
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Generate Tailwind CSS
          command: npm run css-gen
      - run:
          name: Build Electron apps
          command: |
            npm run app:dist
      - run:
          name: Put token.json
          command: echo $TOKEN > token.json
      - run:
          name: Running X virtual framebuffer
          command: Xvfb :99 -ac & export DISPLAY=:99
          background: true
      - run:
          name: Run WebdriverIO tests
          command: |
            npm run wdio

workflows:
  version: 2
  build_and_test:
    jobs:
      - build