version: 2.1

jobs:
  build:
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Generate Tailwind CSS
          command: npm run css-gen
      - run:
          name: Build Electron apps
          command: |
            # Build for Linux since we are in a Linux environment
            npm run app:dist -- --linux
      - run:
          name: Put token.json
          command: echo $TOKEN > /dist/linux-unpacked/token.json
      - run:
          name: Running X virtual framebuffer
          command: Xvfb :99 -ac & export DISPLAY=:99
          background: true
      - run:
          name: Run WebdriverIO tests
          command: npm run wdio

workflows:
  version: 2
  build_and_test:
    jobs:
      - build